DecaNews/DecaNews.xcworkspace
DecaNews/DecaNews.xcworkspace/xcuserdata
DecaNews/DecaNews.xcworkspace/xcshareddata

DecaNews/DecaNews.xcodeproj/xcuserdata
DecaNews/DecaNews.xcodeproj/xcshareddata
DecaNews/DecaNews.xcodeproj/project.xcworkspace/xcuserdata
DecaNews/DecaNews.xcodeproj/project.xcworkspace/xcshareddata

DecaNews/Pods/Pods.xcodeproj/xcuserdata
DecaNews/Pods/Pods.xcodeproj/xcshareddata
DecaNews/DecaNews.xcworkspace/xcuserdata/decagon.xcuserdatad/UserInterfaceState.xcuserstate
DecaNews/Pods/
Podfile.lock
